image: python
stages:
  - "dev"
  - "qa"
  - "prod"
deploy_to_development_environment:
  stage: dev
  environment: development
  # when: manual
  only:
    - gitlab_CICD
  script:
    - mkdir -p ~/.ssh/
    - chmod 700 ~/.ssh
    - echo "$SSH_KEY" > ~/.ssh/id_rsa 
    - chmod 600 ~/.ssh/id_rsa 
    - apt update && apt install openssh-server -y
    - ssh-keyscan -p 22 43.201.20.195 >> ~/.ssh/known_hosts
    - chmod 600 ~/.ssh/known_hosts
    - cat ~/.ssh/known_hosts
  
